doctype html

block variables

html(lang="fr")
    head
        block titre
            title Anicroche

        block icone 
            link(rel="icon", href="/images/logos/icone.svg")
            
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", href="/styles/ressources.css")
        link(rel="stylesheet", href="/styles/reinitialisation.css")
        link(rel="stylesheet", href="/styles/base.css")
        link(rel="stylesheet", href="/styles/en_tete.css")
        link(rel="stylesheet", href="/styles/pied_de_page.css")
        block styles
    body
        header#en-tete
            a#logo-anicroche(href="/")
                svg(width="300", height="300", viewBox="0 0 79.375 79.375")
                    rect(class="couleur-primaire",
                         style="stroke-width:0.467721;stroke-linecap:round;stroke-linejoin:round;fill-opacity:1",
                         width="66.145836", height="66.145836", x="6.6145835", y="6.6145835")
                    path(class="couleur-secondaire",
                         style="fill-opacity:1;stroke:none;stroke-width:0.707108;stroke-linecap:round;stroke-linejoin:round",
                         d="M 25 0 A 25.000001 49.999992 0 0 0 0 50 L 0 150 L 0 250 A 25.000001 49.999992 0 0 0 25 300 L 150 300 L 275 300 A 25.000001 49.999994 0 0 0 300 250 L 300 150 L 300 50 A 25.000001 49.999994 0 0 0 275 0 L 150 0 L 25 0 z M 100 50 L 150 50 L 200 50 L 200 250 L 150 200 L 100 250 L 100 50 z ",
                         transform="scale(0.26458333)")

                svg(width="645", height="105", viewBox="0 0 170.65625 27.78125")
                    path(class="couleur-secondaire",
                         style="fill-opacity:1;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
                         d="m 12.538772,2.6458862 c -4.7377587,0.01594 -8.5700387,3.861159 -8.5700187,8.5989578 0,3.307291 0,6.614583 0,9.921875 -1e-5,2.645836 -1.32292,2.645833 -1.32292,2.645833 v 1.322917 h 5.2e-4 2.64532 1.32291 2.64584 v -1.322917 c 0,0 -1.32291,5e-6 -1.32292,-2.645833 v -2.645834 c 2.6458327,0 2.6458377,-1.322916 5.2916687,-1.322916 2.645652,0 2.645854,1.322739 5.291151,1.322916 l 10e-4,2.645834 c -0.0776,2.405459 -1.323432,2.645833 -1.323432,2.645833 v 1.322917 h 5.16e-4 2.645317 2.645833 v -1.322917 c 0,0 -1.322392,3e-6 -1.322401,-2.645833 -9.8e-5,-1.237179 -0.0075,-4.97287 -0.0041,-9.921875 0.0012,-0.01929 0.0025,-0.03859 0.0036,-0.05788 -0.03187,-4.7377658 -3.890061,-8.5571408 -8.6279,-8.5410798 z m 0.672829,2.645833 c 2.915421,-0.01096 5.289529,2.633025 5.309237,5.9128178 -0.001,0.01344 -0.002,0.02687 -0.0031,0.04031 h -5.15e-4 l 0.0021,4.630208 c -2.644222,-5.32e-4 -2.644825,-1.322917 -5.290116,-1.322917 -2.645826,0 -2.645836,1.322917 -5.2916737,1.322917 v -4.630208 c -1e-5,-3.2801188 2.3584607,-5.9422238 5.2741027,-5.9531248 z")
                    path(class="couleur-secondaire",
                         style="fill-opacity:1;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
                         d="m 44.979166,2.6458853 v 1.322917 c 0,0 1.322916,-3e-6 1.322916,2.645833 V 21.166718 c 0,2.645836 -1.322916,2.645834 -1.322916,2.645834 v 1.322916 h 1.322916 1.322917 2.645832 1.322917 v -1.322916 c 0,0 -1.322917,2e-6 -1.322917,-2.645834 V 6.6146353 c 0,-2.645836 1.322917,-2.645833 1.322917,-2.645833 v -1.322917 h -1.322917 -2.645832 z")
                    path(class="couleur-secondaire",
                         style="fill-opacity:1;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
                         d="m 25.135416,2.6458863 v 1.322916 c 0,0 1.322917,-2e-6 1.322917,2.645834 V 21.166719 c 0,2.645836 -1.322917,2.645833 -1.322917,2.645833 v 1.322917 h 2.645833 1.322917 2.645833 v -1.322917 c 0,0 -1.322917,3e-6 -1.322917,-2.645833 v -6.86263 c 3.462994,4.081457 7.937504,5.965298 7.9375,10.83138 h 2.645834 1.322916 v -1.322917 c 0,0 -1.322916,3e-6 -1.322916,-2.645833 V 6.6146363 c 0,-2.645836 1.322916,-2.645834 1.322916,-2.645834 v -1.322916 h -2.645833 -2.645833 v 1.322916 c 0,0 1.322916,-2e-6 1.322916,2.645834 V 17.374703 C 35.229829,13.28481 30.427085,10.666848 30.427082,2.6458863 h -2.645833 z")
                    path(class="couleur-secondaire",
                         style="fill-opacity:1;stroke:none;stroke-width:0.99999;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1",
                         d="M 101.23684,2.6458991 A 9.9217733,11.244693 0 0 0 91.281476,13.814618 9.9217733,11.244693 0 0 0 101.103,25.134748 9.9217733,11.244693 0 0 0 111.12402,14.041994 l 0.001,-0.151413 A 9.9217733,11.244693 0 0 0 101.23684,2.6458991 Z m 0.65009,2.645807 a 6.6145162,8.5988833 0 0 1 6.5923,8.5988749 l -5.1e-4,0.115755 a 6.6145162,8.5988833 0 0 1 -6.68067,8.482605 6.6145162,8.5988833 0 0 1 -6.547862,-8.656236 6.6145162,8.5988833 0 0 1 6.636742,-8.5409989 z")
                    path(class="couleur-secondaire",
                         style="fill-opacity:1;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
                         d="m 153.45833,2.6458333 v 1.322917 c 0,0 1.32292,-3e-6 1.32292,2.645833 V 21.166666 c 0,2.645836 -1.32292,2.645834 -1.32292,2.645834 v 1.322916 h 1.32292 1.32292 2.64583 7.9375 1.32292 V 19.84375 h -2.64584 c 0,2.645836 -1.32291,2.645833 -1.32291,2.645833 H 158.75 V 15.875 c 2.64583,0 2.64584,-1.322917 5.29167,-1.322917 V 11.90625 c -2.64583,0 -2.64584,1.322917 -5.29167,1.322917 V 5.2916673 h 5.29167 c 0,0 1.32291,-3e-6 1.32291,2.645833 h 2.64584 v -5.291667 h -1.32292 -7.9375 -2.64583 z")
                    path(class="couleur-secondaire",
                         style="fill-opacity:1;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
                         d="m 70.114583,2.6458853 v 1.322917 c 0,0 1.322916,-3e-6 1.322916,2.645833 v 6.6145827 2.645834 5.291666 c 0,2.645836 -1.322916,2.645833 -1.322916,2.645833 v 1.322917 h 2.645833 1.322917 2.645833 v -1.322917 c 0,0 -1.322917,3e-6 -1.322917,-2.645833 v -3.96875 -1.322916 h 4.630209 0.661458 a 5.2916597,5.2916716 0 0 1 5.291667,5.291666 c 0,2.645836 -1.322916,2.645833 -1.322916,2.645833 v 1.322917 h 2.645833 1.322916 1.322916 v -1.322917 c 0,0 -1.322916,3e-6 -1.322916,-2.645833 a 8.5989532,7.9375076 0 0 0 -3.67471,-6.487459 8.5989532,6.6145896 0 0 0 3.67471,-5.4187907 8.5989532,6.6145896 0 0 0 -8.598958,-6.614583 h -4.630209 -2.645833 z m 5.291666,2.645833 h 5.291667 a 5.2916679,3.9687537 0 0 1 5.291667,3.96875 5.2916679,3.9687537 0 0 1 -5.291667,3.9687497 h -0.661458 -4.630209 v -0.04444 -7.8920227 z")
                    path(class="couleur-secondaire",
                         style="fill-opacity:1;stroke-width:0.264583;stroke-linecap:round;stroke-linejoin:round",
                         d="m 62.838541,2.6458853 a 9.9218691,11.244801 0 0 0 -9.921875,11.2447917 9.9218691,11.244801 0 0 0 9.921875,11.244791 h 4.630208 v -2.645833 -2.645833 h -1.322916 -1.322917 c 0,2.645836 -1.322917,2.645833 -1.322917,2.645833 a 6.6145801,8.5989664 0 0 1 -6.614583,-8.598958 6.6145801,8.5989664 0 0 1 6.614583,-8.5989577 c 0,0 1.322917,-3e-6 1.322917,2.645833 h 1.322917 1.322916 v -2.645833 -2.645834 z")
                    path(class="couleur-secondaire",
                         style="fill-opacity:1;stroke-width:0.264583;stroke-linecap:round;stroke-linejoin:round",
                         d="m 123.6927,2.6458337 a 9.9218693,11.244801 0 0 0 -9.92187,11.2447913 9.9218693,11.244801 0 0 0 9.92187,11.244791 h 4.63021 V 22.489583 19.84375 h -1.32292 -1.32292 c 0,2.645836 -1.32291,2.645833 -1.32291,2.645833 a 6.6145803,8.5989664 0 0 1 -6.61458,-8.598958 6.6145803,8.5989664 0 0 1 6.61458,-8.5989573 c 0,0 1.32291,-3e-6 1.32291,2.645833 h 1.32292 1.32292 v -2.645833 -2.645834 z")
                    path(class="couleur-secondaire",
                         style="fill-opacity:1;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
                         d="m 130.96875,2.6458337 v 1.3229166 c 0,0 1.32292,-2.6e-6 1.32292,2.6458333 V 21.166666 c 0,2.645836 -1.32292,2.645834 -1.32292,2.645834 v 1.322916 h 1.32292 1.32291 2.64584 1.32291 V 23.8125 c 0,0 -1.32291,2e-6 -1.32291,-2.645834 V 15.875 c 2.64583,0 2.64584,-1.322917 5.29166,-1.322917 2.64583,0 2.64584,1.322917 5.29167,1.322917 v 5.291666 c 0,2.645836 -1.32292,2.645834 -1.32292,2.645834 v 1.322916 h 1.32292 1.32292 1.32291 1.32292 V 23.8125 c 0,0 -1.32292,2e-6 -1.32292,-2.645834 V 6.6145836 c 0,-2.6458359 1.32292,-2.6458333 1.32292,-2.6458333 V 2.6458337 h -1.32292 -1.32291 -1.32292 -1.32292 v 1.3229166 c 0,0 1.32292,-2.6e-6 1.32292,2.6458333 v 6.6145824 c -2.64584,0 -2.64584,-1.322916 -5.29167,-1.322916 -2.64583,0 -2.64583,1.322916 -5.29166,1.322916 V 6.6145836 c 0,-2.6458359 1.32291,-2.6458333 1.32291,-2.6458333 V 2.6458337 h -1.32291 -2.64584 z")

            form#recherche-anicroche.barre(action="/" method="get")
                input(name="recherche" type="search", placeholder="Search", required)
                button(type="submit")

            nav#compte-anicroche
                a.bouton(href="/ecriture") Create
                if session.utilisateur 
                    a.bouton.attirant(href="/compte") Account
                else
                    a.bouton.attirant(href="/compte/connexion") Login

        main#contenu
            if (erreur)
                div.erreur
                    p= erreur
            block contenu

        footer#pied-de-page

        script var noeuds = {};
        script(src="/scripts/en_tete.js") 
        block scripts